<div id="summary">
  <h1 id="report-title">Colonel Baby's Mood Sliders</h1>
  <ul>
    <li class="status">
      <ul>
        <li><span>Hug</span></li>
        <li><div id="hug_slider"></div></li>
      </ul>
      <ul>
        <li><span>Hunger</span></li>
        <li><div id="hunger_slider"></div></li>
      </ul>
      <ul>
        <li><span>Fun</span></li>
        <li><div id="fun_slider"></div></li>
      </ul>
      <ul>
        <li><span>Social</span></li>
        <li><div id="social_slider"></div></li>
      </ul>
      <ul>
        <li><span>Energy</span></li>
        <li><div id="energy_slider"></div></li>
      </ul>
      <ul>
        <li><span>Comfort</span></li>
        <li><div id="comfort_slider"></div></li>
      </ul>
    </li>
  </ul>
</div>
