{% extends 'layouts/application.html' %}

{% block stylesheets %}
  <link rel="stylesheet" href="/stylesheets/mood/summary.css" />
{% endblock %}

{% block content %}
  {% include 'mood/_content.html' %}
{% endblock %}

{% block javascripts %}
  <script>

    $(function() {
      $( "#hug_slider, #hunger_slider, #fun_slider, #social_slider, #energy_slider, #comfort_slider" ).slider({
        orientation: "horizontal",
        range: "max",
        max: 1000,
        value: 0,
        slide: refreshSliders,
        change: refreshSliders
      });

      $('#basic_example_3').slider().sliderAccess({
        touchonly : false,
        text: true,
        upText: 'More',
        downText: 'Less'
      });
      $( "#hug_slider" ).slider( "value", {{hug_slider}} );
      $( "#hunger_slider" ).slider( "value", {{hunger_slider}} );
      $( "#fun_slider" ).slider( "value", {{fun_slider}} );
      $( "#social_slider" ).slider( "value", {{social_slider}} );
      $( "#energy_slider" ).slider( "value", {{energy_slider}} );
      $( "#comfort_slider" ).slider( "value", {{comfort_slider}} );

      function refreshSliders() {
        var hug_slider_value = $( "#hug_slider" ).slider( "value" );
        $.post('/set/sliders?slider_key=hug_slider' + '&slider_value=' + hug_slider_value, function(data) {
          $('.result').html(data);
        });

        var hunger_slider = $( "#hunger_slider" ).slider( "value" );
        $.post('/set/sliders?slider_key=hunger_slider' + '&slider_value=' + hunger_slider, function(data) {
          $('.result').html(data);
        });

        var fun_slider = $( "#fun_slider" ).slider( "value" );
        $.post('/set/sliders?slider_key=fun_slider' + '&slider_value=' + fun_slider, function(data) {
          $('.result').html(data);
        });

        var social_slider = $( "#social_slider" ).slider( "value" );
        $.post('/set/sliders?slider_key=social_slider' + '&slider_value=' + social_slider, function(data) {
          $('.result').html(data);
        });

        var energy_slider = $( "#energy_slider" ).slider( "value" );
        $.post('/set/sliders?slider_key=energy_slider' + '&slider_value=' + energy_slider, function(data) {
          $('.result').html(data);
        });

        var comfort_slider = $( "#comfort_slider" ).slider( "value" );
        $.post('/set/sliders?slider_key=comfort_slider' + '&slider_value=' + comfort_slider, function(data) {
          $('.result').html(data);
        });
      }
    });
  </script>
{% endblock %}
