<div id="explore-devex" class="column">
  <h4>Explore Devex</h4>
  <ul>
    <li><a href="#"><i class="icon-chevron-right"></i>Community</a></li>
    <li><a href="#"><i class="icon-chevron-right"></i>Jobs</a></li>
    <li><a href="#"><i class="icon-chevron-right"></i>Recruiters</a></li>
    <li><a href="#"><i class="icon-chevron-right"></i>Funding</a></li>
    <li><a href="#"><i class="icon-chevron-right"></i>News</a></li>
    <li><a href="#"><i class="icon-chevron-right"></i>For Executives</a></li>
  </ul>
</div>
