<div id="footer">
  <div class="wrapped column-stroke">
    <%= render :partial => 'layout/explore-devex' %>
    <%= render :partial => 'layout/follow-devex' %>
    <div class="clear"></div>
  </div>
  <div class="dark">
    <span class="wrapped">
      <span id="footer-main" class="column wide left">
        <h5>2013 Kaeratana</h5>
        <p>
          The Politics, The Economics of Everything
        </p>
      </span>
      <span id="footer-links" class="column narrow right">
        <ul>
          <li><a href="#">Choco's Domain</a></li>
        </ul>
      </span>
      <div class="clear"></div>
    </span>
  </div>
  <div class="clear"></div>
</div>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-3G3T" 
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-3G3T');</script>
<!-- End Google Tag Manager -->
