<div id="menu">
  <span class="wrapped">
    <ul class="menu">
      <li id="menu-dropdown">
        <a href="#">
          <i class="icon-reorder"></i> MENU
        </a>
        <ul id="dropdown">
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 1</a></li>
        </ul>
      </li>
      <span id="menu-horizontal">
        <li><a href="/">Baby Home</a></li>
        <li><a href="/">Chocobobo</a></li>
      </span>
    </ul>
    <div class="clear"></div>
  </span>
</div>
